.toast {
    position: fixed;
    padding: 1rem;
    top: 5px;
    right: 5px;
    z-index: 50;
    min-width: 260px;
    color: rgb(11, 11, 109);
    border-radius: 10px; 
    
    }
     
    .toast-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem .5rem;
    border-bottom: 3px solid rgb(143, 143, 197);
    border-radius: 5px;
    }
    
    .toast-header h5{
        padding: 0rem 0.5rem;
    font-weight: 800;
     }

     .toast-close-btn{
        font-size: 1.5rem;
        cursor: pointer;
        }
   
   .toast-body {
          padding: 0rem 0.5rem;
          font-weight: 800;
          
        }

/* Mobile (up to 600px) */
@media only screen and (max-width: 600px) {
    .toast {
        max-width: 120px;
        height: 60px;
        }
}

/* Tablet (601px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .toast {
        max-width: 180px;
        }
}

/* Desktop (769px and up) */
@media only screen and (min-width: 769px) {
    .toast {
        max-width: 220px;
        }
}