.notifications {
    padding: 20px;
    background-color: #f7aaaa;
    border-radius: 15% 0% 15% 5%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 9rem;
  }
  
  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .notification-header h4 {
    font-size: 24px;
    margin-left: 2rem;
  }
  
  .notification-header small {
    font-size: 18px;
  }
  
  .notification-data {
    background-color: #b864fc;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .notification-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .notification-top img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    margin-right: 10px;
  }
  
  .notification-top h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .notification-top h6 {
    font-size: 14px;
    color: #555;
  }
  
  .notification-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .notification-bottom small {
    font-size: 12px;
  }
  
  .notification-bottom p {
    font-size: 14px;
    margin: 0;
  }
  
  /* Media Queries */
  
  /* For devices with width up to 768px (tablets and smaller) */
  @media (max-width: 768px) {
    .notifications {
      padding: 15px;
      max-width: 90%;
      margin-top: 13rem;
    }
  
    .notification-header h4 {
      font-size: 20px;
    }
  
    .notification-top img {
      width: 40px;
      height: 40px;
    }
  
    .notification-top h4 {
      font-size: 16px;
    }
  
    .notification-top h6 {
      font-size: 12px;
    }
  
    .notification-bottom small {
      font-size: 10px;
    }
  }
  
  /* For devices with width up to 480px (mobile) */
  @media (max-width: 480px) {
    .notifications {
      padding: 10px;
      max-width: 100%;
      margin-top: 13.5rem;
    }
  
    .notification-header h4 {
      font-size: 18px;
    }
  
    .notification-top img {
      width: 30px;
      height: 30px;
    }
  
    .notification-top h4 {
      font-size: 14px;
    }
  
    .notification-top h6 {
      font-size: 10px;
    }
  
    .notification-bottom small {
      font-size: 9px;
    }
  
    .notification-bottom p {
      font-size: 12px;
    }
  }
  