
.post-comments-show-more, .post-comments-show-less {
    background-color: transparent;
    color: rgb(68, 63, 63);
    border: 1px solid #806f6f; 
    background-color: #d4c2c2;
    border-radius: 8px; 
    max-width: 100px; 
    margin: 0 auto; 
    cursor: pointer; 
    font-weight: bold; 
    text-align: center;
  }
  
  /* Style for individual comments */
  .post-comment {
    margin-bottom: 12px; 
    padding: 8px;
    background-color: #fff;
    border-radius: 4px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  }
  
  /* Show more/less button styles */
  .show-more, .show-less {
    color: #007bff; 
    cursor: pointer; 
    font-weight: bold; 
    margin-top: 12px;
  }
  
  
   
  /* Mobile Devices */
  @media (max-width: 480px) {
    .post-comments-show-more, .post-commentsshow-less {
      font-size: 12px;
    }
  }
  
  /* Tablets */
  @media (min-width: 481px) and (max-width: 768px) {
    .post-comments-show-more, .post-commentsshow-less {
      font-size: 13px;
    }
  }
  
  /* Laptops and Desktops */
  @media (min-width: 769px) {
    .post-comments-show-more, .post-commentsshow-less {
      font-size: 14px; 
    }
  }
  