.profile{
  background-color: #e44da0; 
  max-width: 100%;
  position:sticky;
  margin-top: 5.7rem;
}

.profile-body{
  display: flex;
  justify-content: space-between;
}

.profile-body-left{
  max-width: 30%;
}

.profile-body-center{}

.profile-body-right{}

.profile-header {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 95%;
  padding: 20px;
  border-radius: 20px;
}

.profile-header-items {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 0px;
}

.profile-header-items .button-icons {
  display: flex;
  justify-content: center;
  padding: .4rem;
  font-size: 34px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(21, 111, 214);
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 50%;
}

.profile-header-items .button-icons:hover {
  background-color: rgb(177, 175, 175);
  color: #007bff; /* Hover color */
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Responsive behavior */
@media (max-width: 768px) {
  .profile{
    max-width: 720px;
    margin-top: 11.2rem;
    /* min-width:fit-content; */
    /* margin-left: 1.8rem; */
   }
  .profile-header-items {
    justify-content: space-between;
    max-width: 100%;
  }

  .profile-header-items .button-icons {
    font-size: 20px; /* Smaller icons for medium screens */
    margin: 0 8px;
  }
}

@media (max-width: 480px) {
  .profile{
   margin-top: 17rem;
   min-width:fit-content;
   margin-left: 1.8rem;
  }
  .profile-header {
    flex-direction: column;
    padding: 10px;
  }

  .profile-header-items {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  .profile-header-items .button-icons {
    font-size: 18px; /* Even smaller icons for small screens */
    margin: 0 6px;
  }
}