.profile-info{
 height: 300px;
 width: 1000px;
 max-width: 100%;
 margin: 1rem auto;
 border-radius: 10px;
}

.profile-info-container{
display: flex;
flex-direction: column;
height: 100%;
width: 100%;
border-radius: 20px;
background-image: linear-gradient(
    0deg,
    hsl(124deg 100% 50%) 0%,
    hsl(95deg 80% 53%) 8%,
    hsl(77deg 61% 50%) 17%,
    hsl(55deg 54% 48%) 25%,
    hsl(35deg 63% 54%) 33%,
    hsl(18deg 75% 58%) 42%,
    hsl(0deg 87% 61%) 50%,
    hsl(6deg 76% 65%) 58%,
    hsl(10deg 59% 69%) 67%,
    hsl(19deg 31% 71%) 75%,
    hsl(153deg 16% 74%) 83%,
    hsl(178deg 60% 71%) 92%,
    hsl(181deg 100% 50%) 100%
  );
}

.profile-info-top{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid white;
}

.profile-info-top img {
    height: 200%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.profile-info-center{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.profile-info-center-avatar{
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transform: translateY(-30px);
    border-top: 10px solid rgb(209, 101, 186);
    border-left: 10px solid rgb(131, 41, 111);
    border-right: 10px solid rgb(82, 16, 67);
    border-bottom: 10px solid rgb(238, 232, 237);
    padding: 1px;
    border-radius: 50%;
}

.profile-info-center-button{
position: absolute;
transform: translateX(200px);
width: 150px;
height: 50px;
font-size: 16px;
border-radius: 20px;
font-weight: bolder;
background: linear-gradient(to right, #ff9966, #ff5e62, #00c9ff, #92fe9d);
color: white;
border: 5px solid rgb(255, 254, 255);
cursor: pointer;
}

.profile-info-bottom{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info-bottom-left{
    
    flex: 0.2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10px;
}

.profile-info-stat{
    
    padding: 5px;
    
}

.profile-info-stat-number{
font-size: large  ;
text-align: center;
font-weight: 600;
color: black;
}

.profile-info-stat-desc{
    font-size: 14px;
text-align: center;
font-weight: 400;
text-transform: capitalize;
color: black
}

.profile-info-bottom-center{
    flex: 0.2;
}

.profile-info-bottom-right{
    flex: 0.2;
}
.profile-info-fullname{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 2px;
}

.profile-info-username{
    text-align: center;
    color: black;
    
    font-size: small ;
}