
.home-page-header {
    margin-top: 4.3rem;
    text-align: center;
    padding: 10px;
    background-color: #b78edd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.home-page-header h1 {
    color: #333; 
    margin: 0; 
}

.home-body-area {
    display: flex;
    justify-content:space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.home-left,
.home-mid
 {
    background-color: #832020;
    border: 1px solid #3f6279;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    flex: 1; 
    min-width: 300px;
    max-width: 32%; 
}

.home-left {
    flex-basis: 25%;
}

.home-mid {
    flex-basis: 50%;
    width: 200px;
    max-width: 100%;
}

.home-right {
    flex-basis: 25%; 
}

@media (max-width: 768px) {
    .home-body-area {
        flex-direction: column;
    }

    .home-left,
    .home-mid,
    .home-right {
        max-width: 100%;
        min-width: 100%;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .home-page-header h1 {
        font-size: 20px;
    }

    .home-left,
    .home-mid,
    .home-right {
        padding: 15px;
    }
}
