
/* Navbar container */

.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  /* background:#10898d; */
  background: #3e5172;
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(70,29,253,1) 50%, rgba(252,176,69,1) 100%); */
  color: #333;
  font-family: 'Arial', sans-serif;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
   position: fixed; 
   width:100vw;
   max-width:100%;
   margin: auto;
  top: 0;
  z-index: 4;
}

.navbar-section{
  display: flex;
  justify-content: space-around; 
}


/* Section for logo and website name */

.logo {
  display: flex;
  align-items: center;
  
}

.navbar-link-logo-img .logo-img {
  width: 150px;
  height: 60px;
  margin-right: 10px;
  border-radius: 30px;
  margin-bottom: 10px;
 /* // border: 3px solid pink; */
 box-shadow: 13px 11px 20px -7px rgba(240,233,233,0.87);
-webkit-box-shadow: 13px 11px 20px -7px rgba(240,233,233,0.87);
-moz-box-shadow: 13px 11px 20px -7px rgba(240,233,233,0.87);
}


/* Section for search bar */
.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-width: 600px;
  margin: 0 2rem;
  position: relative;
  
}

.search-input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.search-icon {
  position: fixed;
  background-color: transparent;
  border: none;
  /* left: 64%; */
  cursor: pointer;
  color: rgb(212, 153, 153);
}

.search-icon i {
  font-size: 25px;
}

/* Section for user icons */
.user-icons {
  display: flex;
  align-items: center;
}

/* .user-icons i {
  margin: 0 10px;
  font-size: 26px;
  cursor: pointer;
  color: rgb(14, 212, 64);
} */

.user-icons i:hover {
  color: #ddd;
}
.user-profile{
  display: flex;
  
  flex-direction: column;
  align-items: center;
}
.user-profile p{
  font-size: 14px;
  font-weight: bold;
  margin-left: .5rem;
}

.user-profile-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 213, 213);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-profile-icon img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.active{
  color: rgb(212, 198, 226) !important;
}

/* ===================== */

.input-box {
  position: relative;
  height: 76px;
  max-width: 600px;
  width: 90%;
  height: 50px;
  margin: 0 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(192, 192, 245);
  border-radius: 8px;

}

.input-box i,
.input-box .button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-box i {
  left: 20px;
  font-size: 30px;
  color: #707070;
}
.input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: none;
  padding: 0 155px 0 65px;
  background-color: transparent;
}
.input-box .button {
  position: absolute;
  right: 19;
  top: 30;
  right: .5rem;
  bottom: 80;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: none;
  padding: 12px 30px;
  background-color: transparent;
  cursor: pointer;
} 
 .input-box .button:active {
  transform: translateY(-50%) scale(0.98);
}
.search-lists{
  position: absolute;
  top: 0;
  
  margin-top: 3.2rem;
  border:none;
  color: black;
  background-color: rgb(129, 129, 240);
  border-radius: 10px;
  width: 100%;
  z-index: 5;
  
  
  
} 

.search-close-btn{
  position: absolute;
  /* display: flex;
  justify-content: right; */
  width: 20px;
  height: 30px;
  bottom: 9px;
  right: 10px;
  position: absolute;
  color: white;
  margin-top: -10px;
  background-color: transparent;
}
.search-close-btn span{
cursor: pointer;
margin-top: 20px;
margin-right: 10px;
height:25px;
margin-top: -30px;
}

.notification-counter{
  position:absolute;
  transform: translate(-20px); 
  font-size: 12px;
  font-weight: bolder;
  color: rgb(245, 199, 199);
  background-color: blue;
  width: 16px;
  
  text-align: center;
  vertical-align:middle;
  border-radius: 50%;
}

.navbar-link{
  padding-top: 10px;
}
.navbar-link i{
  font-size: 25px;
  color: rgb(123, 245, 123);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 17px;
}

.logo-img{
  width: 10px;
  height: 50px;
}

.user-profile-icon{
  /* display: flex; */
  /* margin-top: 30px; */
  margin-left: 1rem;
}

.navbar-link-profile{
display: flex;

}
/* .navbar-link-profile-img img{
  width: 50px;
  height: 50px;
} */

.nav-item .navbar-link{
padding-top: 10rem;
}

.navbar-link-profile h6{
  font-size: 12px;
 /* height: 30px;
 padding-top: 5px; */
}

/* Responsive styling */

/* For tablets (768px or smaller) */
/* @media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    
  }

  .search-bar {
    max-width: 100%;
    margin: 10px 0;
  }

  .logo{
    display: flex;
    margin: auto;
    padding-bottom: .5rem;
  }

  .user-icons {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }
  } */

/* For mobile devices (480px or smaller) */
/* @media (max-width: 480px) {
  .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .logo-img{
    width: 110px;
    height: 50px;
  }

  .navbar-section{
    flex-direction: column;
    align-content: center;
    margin: auto;
  }
  .navbar {
    flex-direction: column;
    
    max-width: 100%;
  }


 .navbar-tag-line{
 display: none;
}

  .search-bar {
    display: block; 
    
  }
  

  .user-icons {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
  }

   .user-profile{
    flex-direction: column;
    padding-bottom: .7rem;
  }

  .user-icons i {
    margin: 0 5px;
    font-size: 18px;
  }
  .input-box {
    height: 40px;
    margin: 0 8px;
  }
  .input-box i {
    left: 12px;
    font-size: 25px;
  }
  .input-box input {
    padding: 0 112px 0 50px;
  }
} */

