.not-found-header{
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
    background-color: rgb(233, 250, 220);
}

.not-found{
    color: rgb(64, 64, 240);
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 10rem;
    width: 70%;
    
    
    
}
