.profile-photo-show {
  padding: 1rem;
}

.profile-photo-show h4 {
  margin-bottom: 1rem;
}

.profile-photo-show-map {
  display: grid;
  grid-gap: 10px;
}

.profile-photo-show-map img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .profile-photo-show-map img {
    width: 60px;
    height: 60px;
  }
  .profile-photo-show-map {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (min-width: 992px) {
  .profile-photo-show-map {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .profile-photo-show-map {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
}
