.show-friends-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    min-width: 100%;
    margin-top: 2px;
    background-color: rgb(32, 190, 26);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
    .show-friends-profile h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
    .show-friends-profile h4 span {
    color: #007bff;
    font-weight: bold;
  }
  
  .global-short-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 15px;
    background-color: #aae6bc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  @media (min-width: 1024px) {
    .show-friends-profile {
      width: 80%;
      max-width: 1200px;
    }
  
    .global-short-card {
      flex-direction: row;
      justify-content: space-between;
      padding: 20px;
    }
  
    .show-friends-profile h4 {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .show-friends-profile {
      width: 90%;
    }
  
    .global-short-card {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .show-friends-profile h4 {
      font-size: 1.75rem;
    }
  }
  
  @media (max-width: 767px) {
    .show-friends-profile {
      width: 65%;
      max-width: 100%;
    }
  
    .global-short-card {
      flex-direction: column;
      padding: 10px;
    }
  
    .show-friends-profile h4 {
      font-size: 1.25rem;
    }
  }
  