.left-side-content {
  
  max-width: 100%;
  background-color: #107cad; 
  border-right: 1px solid #e0e0e0;
  border-radius: 30px;
  padding: 20px;
  overflow-y: scroll;
}

.left-side-content-search {
  display: flex;
  margin: auto;
  padding: 10px;
}

.left-side-content-search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  }

.left-side-content-search-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.left-side-content-user-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}


.left-side-content-user-list div {
  cursor: pointer;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .left-side-content-search {
    flex-direction: column;
  }

  .left-side-content-search-input {
    margin-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .left-side-content-search-input {
    font-size: 14px;
    padding: 8px;
  }

  .left-side-content-search-button {
    padding: 8px 10px;
  }

  .left-side-content-user-list {
    padding: 5px;
  }
}
