
.msg-display {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  border-radius: 15px;
  background-color: #f77575;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 300px;
  max-width: 100%;
}

.msg-display-info-user {
  display: flex;
  align-items: center;
  margin-bottom: 5px; 
}

.msg-display-info-user-avatar,
.msg-display-info-user-avatar-two {
  width: 40px; 
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.msg-display-info-user-username {
  font-weight: bold;
}

.msg-display-text {
  margin-bottom: 5px;
}

.msg-display-info-content {
  font-size: 14px;
  color: #333;
}

.status-msg-middle-images {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

.msg-display-time {
  text-align: right;
  font-size: 12px; 
  color: #777; 
}

@media (max-width: 768px) {
  .msg-display-info-user-avatar,
  .msg-display-info-user-avatar-two {
    width: 35px;
    height: 35px;
  }

  .msg-display-info-content {
    font-size: 12px;
  }

  .msg-display-time {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .msg-display {
    padding: 8px;
  }

  .msg-display-info-user-avatar,
  .msg-display-info-user-avatar-two {
    width: 30px;
    height: 30px;
  }

  .msg-display-info-content {
    font-size: 10px;
  }

  .msg-display-time {
    font-size: 10px;
  }
}
